@font-face {
    font-family: 'RedHatDisplay';
    src: url("Fonts/Red_Hat_Display/RedHatDisplay-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'RedHatDisplay';
    src: url("Fonts/Red_Hat_Display/RedHatDisplay-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'RedHatDisplay';
    src: url("Fonts/Red_Hat_Display/RedHatDisplay-Black.ttf") format("truetype");
    font-weight: 900;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: RedHatDisplay, sans-serif ;
    font-size: 1rem;
    background-color: #e0e8ff;
}

.app{
    height: 100vh;
}

.content-container{
    display: flex;
    height: 100vh;
    position: relative;
}

.background-mobile__image{
    background-image: url("Images/pattern-background-mobile.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 100vw;
    top: 0;
}

.contents{
    width: 100%;
    position: absolute;
    top: 71px;
    padding-bottom: 50px;
}
.content{
    position: relative;
    background-color: #ffffff;
    margin: auto;
    width: 327px;
    height: 567px;
    box-shadow: 0 40px 40px -20px rgba(13, 48, 189, 0.151826);
    border-radius: 20px;
}

.content-image{
    background-image: url("Images/illustration-hero.svg");
    background-size: cover;
    border-radius: 20px 20px 0 0;
    position: absolute;
    width: 100%;
    height: 160px;
    left: 0;
    top: 0;
}

.content-details {
    position: absolute;
    top: 160px;
    width: 100%;
    height: 407px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
}

p{
    margin: 0;
}

.content-details__header{
    color: #1F2E55;
    font-size: 1.375rem;
    font-weight: 900;
}

.content-details__content{
    padding: 16px 0 24px 0;
    text-align: center;
    line-height: 25px;
    font-size: 0.94rem;
    font-weight: 500;
    color: #717fa6;
}

.content-details__pricing{
    display: flex;
    padding: 17px 16px 16px 16px;
    height: 81px;
    width: 279px;
    background: #F7F9FF;
    border-radius: 11px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

.content-pricing__icon{
    background-image: url("Images/icon-music.svg");
    height: 48px;
    width: 48px;
}

.content-pricing_details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    line-height: 1.2rem;
    font-size: 0.875rem;
}

.content-pricing__header{
    color: #1f2e55;
    font-weight: 900;
    line-height: 1.2rem;
    padding-bottom: 0.1rem;
}

.content-pricing__price{
    color: #717FA6;
    line-height: 1.2rem;
    padding-top: 0.1rem;
}

.content-pricing__change {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 95px;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: underline;
    color: #382ae1;
}

.content-details__button > button {
    height: 50px;
    width: 279px;
    border-radius: 11px;
    background: #382AE1;
    box-shadow: 0 20px 20px rgba(56, 42, 225, 0.190291);
    margin-top: 24px;
    border: none;
    font-family: inherit;
    font-weight: 900;
    font-size: 0.9rem;
    line-height: 20px;
    color: #FFFFFF;
}

.content-details__cancel{
    margin-top: 24px;
    font-weight: 900;
    font-size: 0.9rem;
    line-height: 20px;
    color: #717FA6;
}

@media (min-width: 48rem) {
    .background-mobile__image{
        background-image: url("Images/pattern-background-desktop.svg");
        background-size: contain;
        position: relative;
        width: 100vw;
        height: 900px;
    }

    .contents{
        top: 102px;
    }

    .content{
        position: relative;
        background-color: #ffffff;
        margin: auto;
        width: 450px;
        height: 697px;
        box-shadow: 0 40px 40px 20px rgba(13, 48, 189, 0.151826);
        border-radius: 20px;
    }

    .content-image{
        background-image: url("Images/illustration-hero.svg");
        background-size: cover;
        border-radius: 20px 20px 0 0;
        position: absolute;
        width: 100%;
        height: 220px;
        left: 0;
        top: 0;
    }

    .content-details {
        position: absolute;
        top: 220px;
        width: 100%;
        height: 407px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px 48px 48px 48px;
    }

    .content-details__header{
        color: #1F2E55;
        font-size: 1.75rem;
        font-weight: 900;
    }

    .content-details__content{
        padding: 17px 0 20px 0;
        text-align: center;
        line-height: 26px;
        font-size: 1rem;
        font-weight: 500;
        color: #717fa6;
    }

    .content-details__pricing{
        padding: 25px 24px;
        height: 98px;
        width: 354px;
        background: #F7F9FF;
        border-radius: 11px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    .content-pricing__icon{
        background-image: url("Images/icon-music.svg");
        height: 48px;
        width: 48px;
    }

    .content-pricing_details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 20px;
        line-height: 1.2rem;
        font-size: 1rem;
    }

    .content-pricing__header{
        color: #1f2e55;
        font-weight: 900;
        line-height: 1.2rem;
        padding-bottom: 0.1rem;
    }

    .content-pricing__price{
        color: #717FA6;
        line-height: 1.2rem;
        padding-top: 0.1rem;
    }

    .content-pricing__change {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 140px;
        font-size: 0.875rem;
        font-weight: 700;
        text-decoration: underline;
        color: #382ae1;
    }

    .content-pricing__change:hover,
    .content-pricing__change:active{
        text-decoration: none;
        color: #766CF1
    }

    .content-details__button > button {
        height: 50px;
        width: 354px;
        background: #382AE1;
        box-shadow: 0 20px 20px rgba(56, 42, 225, 0.190291);
        margin-top: 47px;
        border: none;
        font-family: inherit;
        font-weight: 900;
        font-size: 0.9rem;
        line-height: 20px;
        color: #FFFFFF;
    }

    .content-details__button > button:hover,
    .content-details__button > button:active{
        background-color: #766CF1;
    }

    .content-details__cancel{
        margin-top: 32px;
        font-weight: 900;
        font-size: 0.9rem;
        line-height: 20px;
        color: #717FA6;
    }

    .content-details__cancel:hover,
    .content-details__cancel:active{
        color: #1F2E55;
    }
}
